<table class="table table-hover">
	<thead>
	  <tr>
	    <th scope="col">#</th>
	    <th scope="col">First Name</th>
	    <th scope="col">Last Name</th>
	    <th scope="col">Handle</th>
			<th scope="col"><%= link_to "New Student", new_student_path %></th>
	  </tr>
	</thead>
	<tbody>
	  <% @students.each do |student| %>
			<tr>
				<th><%= student.first_name%></th>
				<td><%= student.last_name%></td>
				<td><%= student.birth_date%></td>
				<td><%= link_to "Edit" %></td>
				<td><%= link_to "Destroy" %></td>
			</tr>
	  <% end %>
	</tbody>
</table>