<div class="card-body">
  <form>
    <%= form_with(model: customer) do |form| %>
      <% if customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
          <ul>
            <% customer.errors.each do |error| %>
              <li><%= error.full_message %></li>
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span>
                  <b> Warning - </b><%= error.full_message %></span>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">First Name</label>
            <%= form.text_field :first_name, class: "form-control"%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Last Name</label>
            <%= form.text_field :last_name, class: "form-control"%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Birth Date</label>
            <%#= form.date_select :birth_date, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Gender</label>
            <%= form.text_field :gender, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Contact</label>
            <%= form.text_field :contact, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Adress</label>
            <%= form.text_area :address, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.submit class: "btn btn-primary pull-left"%>
        </div>
      </div>

      <div class="clearfix"></div>
    <% end %>
  </form>
</div>